RewriteEngine On
#RewriteCond %{HTTPS} off 
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /exemplo-douglas/app/index.php/$1 [L] 
#RewriteRule ^(.*)$ /app/index.php/$1 [L] 

